# Vagrant metadata
/.vagrant
/.idea

# Cache and logs (Symfony2)
/symfony-app/app/cache/*
/symfony-app/app/logs/*
!symfony-app/app/cache/.gitkeep
!symfony-app/app/logs/.gitkeep

# Parameters
/symfony-app/app/config/parameters.yml
/symfony-app/app/config/parameters.ini
/bin/deploy.conf


# Managed by Composer
/symfony-app/app/bootstrap.php.cache
/symfony-app/var/bootstrap.php.cache
/symfony-app/bin/*
!symfony-app/bin/daemon.js
!symfony-app/bin/post-deploy
!symfony-app/bin/post-deploy-fileperm
!symfony-app/bin/wlanthermo-daemon
/symfony-app/vendor/

# Assets and user uploads
/symfony-app/web/bundles/
/symfony-app/web/uploads/

# PHPUnit
/symfony-app/app/phpunit.xml
/symfony-app/phpunit.xml
