{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ "measurements.new.label" | trans }}{% endblock %}

{% block body -%}
    <h1 class="sub-header">{{ "measurements.new.label" | trans }}</h1>

    {% include 'AppBundle::Measurement/partial-form.html.twig' %}

{% endblock %}
