{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ "devices.new.label" | trans }}{% endblock %}

{% block body -%}
    <h1 class="sub-header">{{ "devices.new.label" | trans }}</h1>

    {% include 'AppBundle::Device/partial-form.html.twig' %}

{% endblock %}
