{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div role="tabpanel" class="js-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#overview" role="tab" data-toggle="tab">Übersicht</a></li>
            <li role="presentation"><a href="#history" role="tab" data-toggle="tab">Historie</a></li>
            <li role="presentation"><a href="#alerts" role="tab" data-toggle="tab">Alarme</a></li>
            <li class="pull-right">
                <button class="btn btn-default" data-confirm="Wollen Sie die Messreihe wirklich stoppen?">
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    Messreihe beenden
                </button>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="overview">
                <p><strong>Start:</strong> 2015-02-25 10:30</p>
                <p><strong>Ende:</strong> ---</p>

                <div class="row">
                    <div class="col-md-4">
                        <div class="chart" id="chart-0"></div>
                        <p class="text-center">Garraum</p>
                    </div>
                    <div class="col-md-4">
                        <div class="chart" id="chart-1"></div>
                        <p class="text-center">Gargut 1</p>
                    </div>
                    <div class="col-md-4">
                        <div class="chart" id="chart-2"></div>
                        <p class="text-center">Gargut 2</p>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="history">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart" id="chart-historie"></div>
                        <p class="text-center">Übersicht</p>
                    </div>
                    <div class="col-md-4">
                        <div class="chart" id="chart-recent"></div>
                        <p class="text-center">Letzte Stunde</p>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="alerts">
                Alarme verwalten!
            </div>
        </div>
    </div>


{% endblock %}

{% block pageJavascripts %}
    <script type="application/javascript">
        $(function() {
            $('#chart-0').wlanthermoGauge({
                label: 'Garraum',
                value: 148
            });

            $('#chart-1').wlanthermoGauge({
                label: 'Gargut 1',
                value: 97
            });

            $('#chart-2').wlanthermoGauge({
                label: 'Gargut 2',
                value: 100
            });


            var chart = c3.generate({
                bindto: '#chart-historie',
                data: {
                    columns: [
                        ['Garraum', 30, 200, 100, 400, 150, 250],
                        ['Gargut 1', 130, 100, 140, 200, 150, 50],
                        ['Gargut 2', 120, 110, 120, 130, 150, 90]
                    ],
                    type: 'spline'
                },
                tooltip: {

                }
            });


            var chart2 = c3.generate({
                bindto: '#chart-recent',
                data: {
                    columns: [
                        ['Garraum', 30, 200, 100, 400, 150, 250],
                        ['Gargut 1', 130, 100, 140, 200, 150, 50],
                        ['Gargut 2', 120, 110, 120, 130, 150, 90]
                    ],
                    type: 'spline'
                }
            });

        });
    </script>
{% endblock %}