<div id="loading-modal" class="modal fade loading-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" style="width: 100%"></div>
            </div>
        </div>
    </div>
</div>